# Binaries
/apibconv
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output coverage
*.out
coverage.txt
benchmark*.txt

# Go workspace file
go.work

# Go build cache
.tmp
.gocache
.golangci-lint-cache
.gomodcache

# GoReleaser
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Example outputs
examples/*.apib
